In [1]:
import findspark
findspark.find()
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

23/02/17 08:06:25 WARN Utils: Your hostname, kekeli-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/02/17 08:06:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 08:06:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
agents = spark.read.json("agents.json")
agents.cache()
agents

DataFrame[country_name: string, id: bigint, latitude: double, longitude: double, sex: string]

In [4]:
agents.show()

+--------------------+----------+------------------+-------------------+------+
|        country_name|        id|          latitude|          longitude|   sex|
+--------------------+----------+------------------+-------------------+------+
|               China| 227417393| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|6821129477|19.325567983697297| -72.43795260265814|Female|
|               India|2078667700|23.645271492037235|  80.85636526088884|Female|
|               China| 477556555| 33.45864668881662|  93.33604038078953|Female|
|               India|1379059984|28.816938290678692|   80.7728698035823|Female|
|               India|2278934249|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|4380736204|12.409991630883784| 122.75874146810197|Female|
|               India|1375733494|22.385712662257426|  77.90320433636231|Female|
|             Nigeria|3693807307| 9.967458870426357|  7.562942449523648|Female|
|                Mali|6552202234|16.882575147323337| -3.949079041016242|Female|
|            Thailand|5057542320|13.501463223632582| 103.05981834176352|  Male|
|               India|1806935868|  18.4459850484637|  74.28181188756791|  Male|
|               China| 265404548|29.447948266668902| 106.56441719305467|Female|
|               China|1272365006|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|3427393483|29.930865126652122|  70.15711512834791|Female|
|Central African R...|7029557128|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|6826219119|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|5357138381|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana|6186906042| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|3275490483|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+----------+------------------+-------------------+------+
only showing top 20 rows

In [5]:
agents.limit(5).show()

+------------+----------+------------------+------------------+------+
|country_name|        id|          latitude|         longitude|   sex|
+------------+----------+------------------+------------------+------+
|       China| 227417393| 33.15219798270325|100.85840672174572|  Male|
|       Haiti|6821129477|19.325567983697297|-72.43795260265814|Female|
|       India|2078667700|23.645271492037235| 80.85636526088884|Female|
|       China| 477556555| 33.45864668881662| 93.33604038078953|Female|
|       India|1379059984|28.816938290678692|  80.7728698035823|Female|
+------------+----------+------------------+------------------+------+

In [6]:
agents.take(5)

[Row(country_name='China', id=227417393, latitude=33.15219798270325, longitude=100.85840672174572, sex='Male'),
 Row(country_name='Haiti', id=6821129477, latitude=19.325567983697297, longitude=-72.43795260265814, sex='Female'),
 Row(country_name='India', id=2078667700, latitude=23.645271492037235, longitude=80.85636526088884, sex='Female'),
 Row(country_name='China', id=477556555, latitude=33.45864668881662, longitude=93.33604038078953, sex='Female'),
 Row(country_name='India', id=1379059984, latitude=28.816938290678692, longitude=80.7728698035823, sex='Female')]

In [7]:
agents.columns

['country_name', 'id', 'latitude', 'longitude', 'sex']

In [8]:
agents.schema

StructType([StructField('country_name', StringType(), True), StructField('id', LongType(), True), StructField('latitude', DoubleType(), True), StructField('longitude', DoubleType(), True), StructField('sex', StringType(), True)])

In [9]:
agents.printSchema()

root
 |-- country_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- sex: string (nullable = true)

In [10]:
agents.select("id").show()

+----------+
|        id|
+----------+
| 227417393|
|6821129477|
|2078667700|
| 477556555|
|1379059984|
|2278934249|
|4380736204|
|1375733494|
|3693807307|
|6552202234|
|5057542320|
|1806935868|
| 265404548|
|1272365006|
|3427393483|
|7029557128|
|6826219119|
|5357138381|
|6186906042|
|3275490483|
+----------+
only showing top 20 rows

In [11]:
agents.drop("id").show()

+--------------------+------------------+-------------------+------+
|        country_name|          latitude|          longitude|   sex|
+--------------------+------------------+-------------------+------+
|               China| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|19.325567983697297| -72.43795260265814|Female|
|               India|23.645271492037235|  80.85636526088884|Female|
|               China| 33.45864668881662|  93.33604038078953|Female|
|               India|28.816938290678692|   80.7728698035823|Female|
|               India|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|12.409991630883784| 122.75874146810197|Female|
|               India|22.385712662257426|  77.90320433636231|Female|
|             Nigeria| 9.967458870426357|  7.562942449523648|Female|
|                Mali|16.882575147323337| -3.949079041016242|Female|
|            Thailand|13.501463223632582| 103.05981834176352|  Male|
|               India|  18.4459850484637|  74.28181188756791|  Male|
|               China|29.447948266668902| 106.56441719305467|Female|
|               China|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|29.930865126652122|  70.15711512834791|Female|
|Central African R...|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+------------------+-------------------+------+
only showing top 20 rows

In [12]:
agents.select("country_name", "latitude", "longitude", "sex").show()

+--------------------+------------------+-------------------+------+
|        country_name|          latitude|          longitude|   sex|
+--------------------+------------------+-------------------+------+
|               China| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|19.325567983697297| -72.43795260265814|Female|
|               India|23.645271492037235|  80.85636526088884|Female|
|               China| 33.45864668881662|  93.33604038078953|Female|
|               India|28.816938290678692|   80.7728698035823|Female|
|               India|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|12.409991630883784| 122.75874146810197|Female|
|               India|22.385712662257426|  77.90320433636231|Female|
|             Nigeria| 9.967458870426357|  7.562942449523648|Female|
|                Mali|16.882575147323337| -3.949079041016242|Female|
|            Thailand|13.501463223632582| 103.05981834176352|  Male|
|               India|  18.4459850484637|  74.28181188756791|  Male|
|               China|29.447948266668902| 106.56441719305467|Female|
|               China|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|29.930865126652122|  70.15711512834791|Female|
|Central African R...|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+------------------+-------------------+------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import count

In [14]:
agents.count()

10000

In [15]:
agents.filter(agents.country_name == 'France').count()

94

In [16]:
sorted(agents.groupby(agents.country_name).count().collect())

[Row(country_name='Afghanistan', count=49),
 Row(country_name='Albania', count=7),
 Row(country_name='Algeria', count=54),
 Row(country_name='Angola', count=28),
 Row(country_name='Argentina', count=52),
 Row(country_name='Armenia', count=4),
 Row(country_name='Australia', count=33),
 Row(country_name='Austria', count=16),
 Row(country_name='Azerbaijan', count=18),
 Row(country_name='Bahrain', count=2),
 Row(country_name='Bangladesh', count=227),
 Row(country_name='Belarus', count=11),
 Row(country_name='Belgium', count=11),
 Row(country_name='Benin', count=10),
 Row(country_name='Bhutan', count=3),
 Row(country_name='Bolivia', count=9),
 Row(country_name='Bosnia and Herzegovina', count=9),
 Row(country_name='Botswana', count=1),
 Row(country_name='Brazil', count=264),
 Row(country_name='Bulgaria', count=9),
 Row(country_name='Burkina Faso', count=19),
 Row(country_name='Burma', count=71),
 Row(country_name='Burundi', count=24),
 Row(country_name='Cabo Verde', count=1),
 Row(country_name='Cambodia', count=17),
 Row(country_name='Cameroon', count=30),
 Row(country_name='Canada', count=46),
 Row(country_name='Central African Republic', count=5),
 Row(country_name='Chad', count=20),
 Row(country_name='Chile', count=15),
 Row(country_name='China', count=1812),
 Row(country_name='Colombia', count=70),
 Row(country_name='Comoros', count=2),
 Row(country_name='Congo, Democratic Republic of the', count=117),
 Row(country_name='Congo, Republic of the', count=6),
 Row(country_name='Costa Rica', count=5),
 Row(country_name="Cote d'Ivoire", count=30),
 Row(country_name='Croatia', count=8),
 Row(country_name='Cuba', count=11),
 Row(country_name='Cyprus', count=1),
 Row(country_name='Czech Republic', count=24),
 Row(country_name='Denmark', count=8),
 Row(country_name='Djibouti', count=3),
 Row(country_name='Dominican Republic', count=15),
 Row(country_name='Ecuador', count=25),
 Row(country_name='Egypt', count=110),
 Row(country_name='El Salvador', count=9),
 Row(country_name='Equatorial Guinea', count=1),
 Row(country_name='Eritrea', count=8),
 Row(country_name='Estonia', count=1),
 Row(country_name='Ethiopia', count=120),
 Row(country_name='Finland', count=11),
 Row(country_name='France', count=94),
 Row(country_name='French Polynesia', count=1),
 Row(country_name='Gambia, The', count=1),
 Row(country_name='Gaza Strip', count=2),
 Row(country_name='Georgia', count=7),
 Row(country_name='Germany', count=114),
 Row(country_name='Ghana', count=42),
 Row(country_name='Greece', count=12),
 Row(country_name='Guatemala', count=20),
 Row(country_name='Guinea', count=15),
 Row(country_name='Guinea-Bissau', count=2),
 Row(country_name='Guyana', count=2),
 Row(country_name='Haiti', count=14),
 Row(country_name='Honduras', count=18),
 Row(country_name='Hong Kong', count=6),
 Row(country_name='Hungary', count=9),
 Row(country_name='India', count=1733),
 Row(country_name='Indonesia', count=336),
 Row(country_name='Iran', count=119),
 Row(country_name='Iraq', count=46),
 Row(country_name='Ireland', count=5),
 Row(country_name='Israel', count=6),
 Row(country_name='Italy', count=59),
 Row(country_name='Jamaica', count=3),
 Row(country_name='Japan', count=171),
 Row(country_name='Jordan', count=16),
 Row(country_name='Kazakhstan', count=29),
 Row(country_name='Kenya', count=59),
 Row(country_name='Korea, North', count=47),
 Row(country_name='Korea, South', count=74),
 Row(country_name='Kosovo', count=1),
 Row(country_name='Kuwait', count=2),
 Row(country_name='Kyrgyzstan', count=10),
 Row(country_name='Laos', count=6),
 Row(country_name='Latvia', count=3),
 Row(country_name='Lebanon', count=3),
 Row(country_name='Lesotho', count=1),
 Row(country_name='Liberia', count=5),
 Row(country_name='Libya', count=9),
 Row(country_name='Lithuania', count=3),
 Row(country_name='Macau', count=1),
 Row(country_name='Macedonia', count=3),
 Row(country_name='Madagascar', count=25),
 Row(country_name='Malawi', count=30),
 Row(country_name='Malaysia', count=54),
 Row(country_name='Mali', count=25),
 Row(country_name='Mauritania', count=6),
 Row(country_name='Mauritius', count=1),
 Row(country_name='Mexico', count=183),
 Row(country_name='Moldova', count=5),
 Row(country_name='Mongolia', count=6),
 Row(country_name='Montenegro', count=1),
 Row(country_name='Morocco', count=35),
 Row(country_name='Mozambique', count=39),
 Row(country_name='Namibia', count=4),
 Row(country_name='Nepal', count=32),
 Row(country_name='Netherlands', count=34),
 Row(country_name='New Zealand', count=5),
 Row(country_name='Nicaragua', count=12),
 Row(country_name='Niger', count=28),
 Row(country_name='Nigeria', count=255),
 Row(country_name='Norway', count=3),
 Row(country_name='Oman', count=6),
 Row(country_name='Pakistan', count=315),
 Row(country_name='Panama', count=7),
 Row(country_name='Papua New Guinea', count=13),
 Row(country_name='Paraguay', count=9),
 Row(country_name='Peru', count=41),
 Row(country_name='Philippines', count=160),
 Row(country_name='Poland', count=50),
 Row(country_name='Portugal', count=12),
 Row(country_name='Puerto Rico', count=4),
 Row(country_name='Qatar', count=3),
 Row(country_name='Romania', count=29),
 Row(country_name='Russia', count=185),
 Row(country_name='Rwanda', count=20),
 Row(country_name='Saudi Arabia', count=54),
 Row(country_name='Senegal', count=17),
 Row(country_name='Serbia', count=9),
 Row(country_name='Sierra Leone', count=6),
 Row(country_name='Singapore', count=8),
 Row(country_name='Slovakia', count=7),
 Row(country_name='Slovenia', count=2),
 Row(country_name='Somalia', count=13),
 Row(country_name='South Africa', count=69),
 Row(country_name='South Sudan', count=26),
 Row(country_name='Spain', count=61),
 Row(country_name='Sri Lanka', count=43),
 Row(country_name='Sudan', count=60),
 Row(country_name='Suriname', count=2),
 Row(country_name='Swaziland', count=1),
 Row(country_name='Sweden', count=18),
 Row(country_name='Switzerland', count=12),
 Row(country_name='Syria', count=35),
 Row(country_name='Taiwan', count=33),
 Row(country_name='Tajikistan', count=13),
 Row(country_name='Tanzania', count=63),
 Row(country_name='Thailand', count=111),
 Row(country_name='Timor-Leste', count=1),
 Row(country_name='Togo', count=6),
 Row(country_name='Trinidad and Tobago', count=1),
 Row(country_name='Tunisia', count=8),
 Row(country_name='Turkey', count=103),
 Row(country_name='Turkmenistan', count=9),
 Row(country_name='Uganda', count=56),
 Row(country_name='Ukraine', count=48),
 Row(country_name='United Arab Emirates', count=9),
 Row(country_name='United Kingdom', count=104),
 Row(country_name='United States', count=461),
 Row(country_name='Uruguay', count=5),
 Row(country_name='Uzbekistan', count=47),
 Row(country_name='Venezuela', count=44),
 Row(country_name='Vietnam', count=134),
 Row(country_name='Yemen', count=43),
 Row(country_name='Zambia', count=24),
 Row(country_name='Zimbabwe', count=26)]

Question 8:
<pre>
Individual1,France
Individual2,USA  ---- GroupBy---> France,[Individual1]
Individual3,USA             USA,[Individual2,Individual3 ]

------Count ---> France,1
                 USA,2
</pre>

In [17]:
agents.createTempView("agents_table")

In [19]:
agents.show() # DataFrame API

+--------------------+----------+------------------+-------------------+------+
|        country_name|        id|          latitude|          longitude|   sex|
+--------------------+----------+------------------+-------------------+------+
|               China| 227417393| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|6821129477|19.325567983697297| -72.43795260265814|Female|
|               India|2078667700|23.645271492037235|  80.85636526088884|Female|
|               China| 477556555| 33.45864668881662|  93.33604038078953|Female|
|               India|1379059984|28.816938290678692|   80.7728698035823|Female|
|               India|2278934249|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|4380736204|12.409991630883784| 122.75874146810197|Female|
|               India|1375733494|22.385712662257426|  77.90320433636231|Female|
|             Nigeria|3693807307| 9.967458870426357|  7.562942449523648|Female|
|                Mali|6552202234|16.882575147323337| -3.949079041016242|Female|
|            Thailand|5057542320|13.501463223632582| 103.05981834176352|  Male|
|               India|1806935868|  18.4459850484637|  74.28181188756791|  Male|
|               China| 265404548|29.447948266668902| 106.56441719305467|Female|
|               China|1272365006|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|3427393483|29.930865126652122|  70.15711512834791|Female|
|Central African R...|7029557128|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|6826219119|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|5357138381|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana|6186906042| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|3275490483|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+----------+------------------+-------------------+------+
only showing top 20 rows

In [20]:
spark.table("agents_table").show() # DataFrame API

+--------------------+----------+------------------+-------------------+------+
|        country_name|        id|          latitude|          longitude|   sex|
+--------------------+----------+------------------+-------------------+------+
|               China| 227417393| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|6821129477|19.325567983697297| -72.43795260265814|Female|
|               India|2078667700|23.645271492037235|  80.85636526088884|Female|
|               China| 477556555| 33.45864668881662|  93.33604038078953|Female|
|               India|1379059984|28.816938290678692|   80.7728698035823|Female|
|               India|2278934249|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|4380736204|12.409991630883784| 122.75874146810197|Female|
|               India|1375733494|22.385712662257426|  77.90320433636231|Female|
|             Nigeria|3693807307| 9.967458870426357|  7.562942449523648|Female|
|                Mali|6552202234|16.882575147323337| -3.949079041016242|Female|
|            Thailand|5057542320|13.501463223632582| 103.05981834176352|  Male|
|               India|1806935868|  18.4459850484637|  74.28181188756791|  Male|
|               China| 265404548|29.447948266668902| 106.56441719305467|Female|
|               China|1272365006|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|3427393483|29.930865126652122|  70.15711512834791|Female|
|Central African R...|7029557128|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|6826219119|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|5357138381|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana|6186906042| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|3275490483|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+----------+------------------+-------------------+------+
only showing top 20 rows

In [21]:
spark.sql("SELECT * FROM agents_table").show() # SQL API

+--------------------+----------+------------------+-------------------+------+
|        country_name|        id|          latitude|          longitude|   sex|
+--------------------+----------+------------------+-------------------+------+
|               China| 227417393| 33.15219798270325| 100.85840672174572|  Male|
|               Haiti|6821129477|19.325567983697297| -72.43795260265814|Female|
|               India|2078667700|23.645271492037235|  80.85636526088884|Female|
|               China| 477556555| 33.45864668881662|  93.33604038078953|Female|
|               India|1379059984|28.816938290678692|   80.7728698035823|Female|
|               India|2278934249|24.223974351280358|  80.14372690674512|  Male|
|         Philippines|4380736204|12.409991630883784| 122.75874146810197|Female|
|               India|1375733494|22.385712662257426|  77.90320433636231|Female|
|             Nigeria|3693807307| 9.967458870426357|  7.562942449523648|Female|
|                Mali|6552202234|16.882575147323337| -3.949079041016242|Female|
|            Thailand|5057542320|13.501463223632582| 103.05981834176352|  Male|
|               India|1806935868|  18.4459850484637|  74.28181188756791|  Male|
|               China| 265404548|29.447948266668902| 106.56441719305467|Female|
|               China|1272365006|35.450817753169304| 106.05970256662503|  Male|
|            Pakistan|3427393483|29.930865126652122|  70.15711512834791|Female|
|Central African R...|7029557128|  7.01006931921262| 21.005933006443826|Female|
|               Haiti|6826219119|18.940384961447766| -72.32688350214578|  Male|
|            Tanzania|5357138381|-5.983046108539422|  34.80683011234468|  Male|
|               Ghana|6186906042| 7.969120948577613|-1.9820137477590403|Female|
|              Brazil|3275490483|-9.425790844213656| -55.88198203024498|  Male|
+--------------------+----------+------------------+-------------------+------+
only showing top 20 rows

In [23]:
spark.sql("SELECT COUNT(*) FROM agents_table where sex='Female' AND country_name='India'").show() # SQL API

+--------+
|count(1)|
+--------+
|     828|
+--------+

In [25]:
groups = agents.groupby(agents.country_name).count()
groups.orderBy("count", ascending=False).show(10)

+-------------+-----+
| country_name|count|
+-------------+-----+
|        China| 1812|
|        India| 1733|
|United States|  461|
|    Indonesia|  336|
|     Pakistan|  315|
|       Brazil|  264|
|      Nigeria|  255|
|   Bangladesh|  227|
|       Russia|  185|
|       Mexico|  183|
+-------------+-----+
only showing top 10 rows

In [3]:
# Create DataFrame
employees_data_1 = [("James","Sales"),
("Michael","Sales"),
("Robert","Sales"),
("Maria","Finance"),
("Raman","Finance"),
("Scott","Finance"),
("Jen","Finance"),
("Jeff","Marketing"),
("Kumar","Marketing")
]
employees_data_2 = [("James",90000,34),
("Michael",86000,56),
("Robert",81000,30),
("Maria",90000,24),
("Raman",99000,40),
("Scott",83000,36),
("Jen",79000,53),
("Jeff",80000,25),
("Kumar",91000,50)
]
schema_1 = ["name","department"]
schema_2 = ["name","salary","age"]
df_1 = spark.createDataFrame(data=employees_data_1, schema = schema_1)
df_2 = spark.createDataFrame(data=employees_data_2, schema = schema_2)
df_1.show(5,truncate=False)

+-------+----------+
|name   |department|
+-------+----------+
|James  |Sales     |
|Michael|Sales     |
|Robert |Sales     |
|Maria  |Finance   |
|Raman  |Finance   |
+-------+----------+
only showing top 5 rows

In [4]:
df_2.show(5,truncate=False)

+-------+------+---+
|name   |salary|age|
+-------+------+---+
|James  |90000 |34 |
|Michael|86000 |56 |
|Robert |81000 |30 |
|Maria  |90000 |24 |
|Raman  |99000 |40 |
+-------+------+---+
only showing top 5 rows

In [5]:
df = df_1.join(df_2, df_1.name == df_2.name, 'outer').select(df_1.name,df_1.department, df_2.salary, df_2.age)  
df.show()

+-------+----------+------+---+
|   name|department|salary|age|
+-------+----------+------+---+
|  James|     Sales| 90000| 34|
|   Jeff| Marketing| 80000| 25|
|    Jen|   Finance| 79000| 53|
|  Kumar| Marketing| 91000| 50|
|  Maria|   Finance| 90000| 24|
|Michael|     Sales| 86000| 56|
|  Raman|   Finance| 99000| 40|
| Robert|     Sales| 81000| 30|
|  Scott|   Finance| 83000| 36|
+-------+----------+------+---+

In [6]:
df=df.drop('age')
df.show()

+-------+----------+------+
|   name|department|salary|
+-------+----------+------+
|  James|     Sales| 90000|
|   Jeff| Marketing| 80000|
|    Jen|   Finance| 79000|
|  Kumar| Marketing| 91000|
|  Maria|   Finance| 90000|
|Michael|     Sales| 86000|
|  Raman|   Finance| 99000|
| Robert|     Sales| 81000|
|  Scott|   Finance| 83000|
+-------+----------+------+

In [7]:
df = df.withColumn('salaryPerMonth', df.salary/12)
df.show()

+-------+----------+------+-----------------+
|   name|department|salary|   salaryPerMonth|
+-------+----------+------+-----------------+
|  James|     Sales| 90000|           7500.0|
|   Jeff| Marketing| 80000|6666.666666666667|
|    Jen|   Finance| 79000|6583.333333333333|
|  Kumar| Marketing| 91000|7583.333333333333|
|  Maria|   Finance| 90000|           7500.0|
|Michael|     Sales| 86000|7166.666666666667|
|  Raman|   Finance| 99000|           8250.0|
| Robert|     Sales| 81000|           6750.0|
|  Scott|   Finance| 83000|6916.666666666667|
+-------+----------+------+-----------------+

In [8]:
df.groupby(df.department).avg('salary').show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

In [52]:
import pyspark.sql.functions as f

In [13]:
df.agg({"salary": "max"}).collect()[0][0]

99000

In [14]:
df.agg({"salary": "max"}).collect()

[Row(max(salary)=99000)]

In [12]:
max_=df.agg({"salary": "max"}).collect()[0][0]
df.where(df.salary==max_).show()

+-----+----------+------+--------------+
| name|department|salary|salaryPerMonth|
+-----+----------+------+--------------+
|Raman|   Finance| 99000|        8250.0|
+-----+----------+------+--------------+